body {
  background-color: black;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 2px;
}

.loader {
  color: blue;
}

.page-item{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
 
  
}

